@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@theme {
  --font-display:  "Montserrat", sans-serif;
}
/* src/index.css or globals.css */

