@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@theme {
  --font-display:  "Montserrat", sans-serif;
}
/* src/index.css or globals.css */


@media (min-width: 835px) and (max-width: 885px) {
  /* centered, compact layout */
  .min-[835px]:justify-start.max-[885px]:justify-center { justify-content: center; }
  .max-[885px]:pl-8 { padding-left: 2rem; }
  /* all max-[885px] variants */
}

@media (min-width: 768px) {
  /* original md+ desktop layout */
  .md\:pl-28 { padding-left: 7rem; }
  /* all md: variants */
}

.Link{
  outline: blue;
  border:" 1px";
}